* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
    /*margin: 1.5em;*/
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bkg_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.logo {
    width: 5em;
    height: 3em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: .75em 0.5em;
    display: block;
    width: 100%;
}

a:hover {
     background: rgb(235, 235, 235);
 }

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.close {
    float: right;
    margin: 2em;
    width: 2.5em;
}

svg {
    width: 3em;
    margin-top: -.6em;
    cursor: pointer;
}

.close {
    float: right;
    margin: 2em;
    width: 2.5em;
}

.open-nav {
    transform: translateX(0%);
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
}

