* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bkg-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
