/*
                General
*/
body {
    background-color: #f2f2f2;
}
/*
                Header
*/
.head {
    width: 100%;
}

.head-container {
    width: 90%;
    margin: auto;
    padding: 1em 0;
    /*background-color: antiquewhite; !*Test*!*/
}

.head-title {
    padding: .5rem;
    margin-left: 5%;
    font-size: larger;
    border-bottom: 1px solid black;
}

.head-prg {
    text-indent: 3em;
    text-align: justify;
    letter-spacing: .1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.new-line {
    display: flex;
    justify-content: center;
}
/*
                Main Content
*/
.ctn {
    width: 100%;
}

.ctn-container {
    width: 90%;
    /*background-color: #d9dacb; !*Test*!*/
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
}

.box {
    display: flex;
    flex-direction: row;
    height: 80%;
}
/*
                Left
*/
.container-left{
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 1px solid black;
    border-radius: 7px;
    margin: auto;
    background-color: white;
    height: 70%;
}

.about-title {
    display: flex;
    justify-content: center;
}

.about-title-left {
    transform: rotate(-90deg);
    font-weight: lighter;
    margin: auto 0;
}

.about-prg {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}

.prg-right {
    text-align: right;
    border-bottom: 5px dotted;
}

.prg-left {
    text-align: left;
}

.prg-equal {
    height: 50%;
    text-indent: 20px;
    letter-spacing: 1px;
}

/*
                Right
*/
.container-right{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.review-title {
    padding: 2px 15px;
    color: #d57d7d;
    text-align: center;
}

.review-subtitle {
    padding: 2px 15px;
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
}

.feedback {
    max-width: 60%;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border: solid 1px #f1f1f1;
    background: #fbfbfb;
    box-shadow: #e6e6e6 0 0 4px ;
    border-radius: 0.25rem;
}
/*
                Your Info
*/
.title-equal {
    margin: 4px auto;
    line-height: 1.5;
}

.group-box {
    display: flex;
    flex-direction: column;
}

.prs-info {
    padding: 5px;
    margin: 4px 0;
}
/*
                Feedback Box
*/
.write-box {
    padding: 4px 0;
    display: block;
    width: 100%;
}

.write-area {
    width: 100%;
    resize: vertical;
}
/*
                Submit Button
*/

.feedback-btn {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

.feedback-btn:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

/*
            Media Quarry
*/

/*@media only screen and (max-width: 576px) {*/
/*    .ctn-container {*/
/*        height: auto;*/
/*        width: 100%;*/
/*    }*/

/*    .container {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        height: auto;*/
/*    }*/
/*!**/
/*                Left*/
/**!*/
/*    .container-left {*/
/*        width: 100%;*/
/*        flex-direction: column;*/
/*        border: none;*/
/*        border-radius: 0;*/
/*    }*/

/*    .about-title-left {*/
/*        transform: none;*/
/*        text-decoration: underline;*/
/*        padding: .5em 0;*/
/*    }*/

/*    .about-prg {*/
/*        border: none;*/
/*        height: auto;*/
/*        width: 100%;*/
/*    }*/

/*    .prg-equal {*/
/*        border: none;*/
/*        height: auto;*/
/*        text-align: center;*/
/*        padding: .5em;*/
/*    }*/
/*    !**/
/*                    Right*/
/*    *!*/
/*    .container-right {*/
/*        width: 100%;*/
/*        padding: 1em 0;*/
/*    }*/

/*}*/

/*@media only screen and (min-width: 577px) and (max-width: 768px) {*/
/*    .container {*/
/*        flex-direction: column;*/
/*    }*/

/*    .container-left {*/
/*        width: 80%;*/
/*        margin: 1em auto;*/
/*    }*/

/*    .container-right {*/
/*        width: 80%;*/
/*        margin: 1em auto;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1200px) {*/
/*    .ctn-container {*/
/*        width: 1200px;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1600px) {*/
/*    .ctn-container {*/
/*        width: 1600px;*/
/*    }*/
/*}*/