/*
                General
*/
body {
    background-color: #f2f2f2;
}
/*
                Header
*/
.head {
    width: 100%;
    padding-top: 71px;
}

.head-container {
    width: 90%;
    margin: auto;
    padding: 1em 0;
}

.head-title {
    padding: .5rem;
    margin-left: 5%;
    font-weight: lighter;
}

.head-para {
    text-indent: 3em;
    text-align: justify;
    letter-spacing: .1rem;
}
/*
                Main Content
*/
.ctn {
    width: 100%;
}

.ctn-container {
    width: 90%;
    background-color: rgb(178, 198, 182); /*Test*/
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    padding: 1em;
    background-color: white;
    margin: 1em 3em 1em auto;
    border-radius: 7px;
}

.container-right:hover {
    cursor: pointer;
}

.container-left {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*justify-content: space-between;*/
    padding: 1em;
    background-color: white;
    margin: 1em auto 1em 3em;
    border-radius: 7px;
}

.container-left:hover {
    cursor: pointer;
}

.container-right-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.container-left-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.container-img {
    width: 25%;
    /*object-fit: cover;*/
    height: 11em;
    padding: .5em;
    border-radius: 50px;
}

.container-title {
    padding: .5rem;
    text-indent: 3em;
    font-size: 1.5rem;
}

.container-description {
    text-indent: 1em;
    text-align: justify;
    letter-spacing: .1rem;
    border-top: 1px solid black;
}
/*
                Media Quarry
*/
@media only screen and (max-width: 576px) {
    /*
                     Header
     */
    .head-container {
        width: 100%;
        padding: 0 .5em;
    }

    .head-title {
        padding: 0;
        margin: 0;
        text-indent: .5em;
    }
    /*
                    Main
    */
    .container-equal {
        width: 100%;
        padding: 0;
        flex-direction: column-reverse;
        margin: 1em auto;
        border-radius: 0;
        align-items: center;
    }

    .container-img {
        object-fit: cover;
        width: 70%;
    }

    .container-title {
        text-indent: 0;
        text-align: center;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    /*
                    Head
    */
    .head-title {
        margin: 0;
        text-align: center;
    }
    /*
                    Main
    */
    .ctn-container {
        width: 100%
    }

    .container-title {
        font-size: 1.2rem;
    }

    .container-equal {
        width: 80%;
        margin: 1em auto;
    }

    .container-right-text {
        padding: 0 1em 0 0;
    }

    .container-left-text {
        padding: 0 0 0 1em;
    }

    .container-img {
        width: 30%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .container-equal {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .ctn-container {
        width: 1200px;
    }
}

@media only screen and (min-width: 1600px) {
    .ctn-container {
        width: 1600px;
    }
}