/*
                General
*/
body {
    background-color: #f2f2f2;
}
/*
                Header
*/
.head {
    width: 100%;
    padding-top: 71px;
}

.head-container {
    width: 90%;
    margin: auto;
    padding: 1em 0;
}

.head-title {
    padding: .5rem;
    margin-left: 5%;
    font-weight: lighter;
}

.head-para {
    text-indent: 3em;
    text-align: justify;
    letter-spacing: .1rem;
}
/*
                Main Content
*/
.ctn {
    width: 100%;
}

.ctn-container {
    width: 90%;
    background-color: #b2c6b6; /*Test*/
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    padding: 1em;
    background-color: white;
    margin: 1em 3em 1em auto;
    border-radius: 7px;
}

.container-right:hover {
    cursor: pointer;
}

.container-left {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    /*justify-content: space-between;*/
    padding: 1em;
    background-color: white;
    margin: 1em auto 1em 3em;
    border-radius: 7px;
}

.container-left:hover {
    cursor: pointer;
}

.container-right-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.container-left-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.container-img {
    width: 25%;
    /*object-fit: cover;*/
    height: 11em;
    padding: .5em;
    border-radius: 50px;
}

.container-title {
    padding: .5rem;
    text-indent: 3em;
    font-size: large;
}

.container-description {
    text-indent: 1em;
    text-align: justify;
    letter-spacing: .1rem;
    border-top: 1px solid black;
}