/*
                General
*/
body {
    background-color: #f2f2f2;
    position: relative;
    /*margin: 1.5em;*/
}
/*
                Head
*/
.head {
    width: 100%;
    padding-top: 71px;
}

.head-title {
    width: 90%;
    margin: auto;
    padding: 1em 0;
    background-color: white;        /*Test*/
    border-radius: 50px;
    border: 1px solid black;
}

.ctn {
    width: 100%;
    height: auto;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.help-center {
    display: flex;
    flex-direction: column;
    padding: 3em;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    width: 50%;
    margin: 20px auto;
}

.help-center-title {
    text-align: center;
    margin-bottom: 20px;
}

.help-center-subtitle {
    width: 50%;
    padding: 10px 0;
}

.ways-of-contact {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.contact-email {
    padding: 1em;
    width: 50%;
    border-right: 1px solid black;
    cursor: pointer;
}

.contact-email-top {
    display: flex;
    align-items: center;
}

.contact-email-title {
    margin: 0 5px;
    border-bottom: 1px solid black;
}

.contact-email-text {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.contact-phone {
    padding: 1em;
    width: 50%;
    cursor: pointer;
}

.contact-phone-top {
    display: flex;
    align-items: center;
}

.contact-phone-title {
    margin: 0 5px;
    border-bottom: 1px solid black;
}

.contact-phone-text {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.contact-days {
    font-weight: 550;
}
/*
                Contact Button
*/
.contact-log-in {
    display: flex;
    justify-content: space-around;

}

.btn-contact-log-in {
    margin: 1em 0;
    width: 100%;
    height: 3em;
    font-size: 1.2rem;
    cursor: pointer;

}

/*
                Contact Email Box
*/
.contact-email-box {
    display: none;
}

/*
                Contact Phone Box
*/
.contact-phone-box {
    display: none;
}
/*
                Media Quarry
*/

@media only screen and (max-width: 576px) {
    /*
                Head
    */
    .head-title {
        width: 100%;
        border: none;
        border-radius: 0;
        text-align: center;
    }
    /*
                Main
    */
    .ctn {
        height: auto;
    }

    .container {
        width: 100%;
    }

    .help-center {
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 1em 0;
    }

    .help-center-subtitle {
        width: 100%;
        text-indent: 16px;
    }

    .ways-of-contact {
        flex-direction: column;
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .contact-equal {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5em;
        text-indent: 1rem;
    }

    .contact-email {
        border-bottom: 1px solid black;
        border-right: none;
    }

    .contact-email-top {
        justify-content: center;
    }

    .contact-phone-top {
        justify-content: center;
    }

    .btn-contact-log-in {
        width: 70%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .head-title {
        width: 100%;
        text-align: center;
    }

    .ctn {
        height: auto;
    }

    .help-center {
        width: 70%;
    }

    .btn-contact-log-in {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .head {
        width: 1200px;
        margin: auto;
    }

    .ctn {
        width: 1200px;
        margin: auto;
    }
}

@media only screen and (min-width: 1600px) {
    .head {
        width: 1600px;
        margin: auto;
    }

    .ctn {
        width: 1600px;
        margin: auto;
    }
}