* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
    position: relative;
    /*margin: 1.5em;*/
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bkg-contact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    text-align: center;
    padding: 30vh;
}