                /*General*/
.bottom {
    background-color: rgba(23, 29, 38, 1);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.bottom-container {
    width: 90%;
    /*background-color: white;  !*Testing*!*/
    display: flex;
    justify-content: space-between;
}

                /*Left section*/
.bottom-left {
    color: rgba(134, 152, 182, 1);
    /*width: 30%;*/
    margin: auto;
}

                /*Middle section*/
.bottom-middle {
    color: rgba(134, 152, 182, 1);
    /*width: 30%;*/
    display: flex;
    flex-direction: column;
}

.bottom-scroll {
    padding: 1em;
    margin: 3em auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
}

.bottom-scroll:hover {
    background: rgba(238, 238, 238, 0.79);
}

.bottom-scroll:active {
    transform: translateY(4px);
}

.bottom-scroll-modifier {
    color: black;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.bottom-copyright {
    font-size: .8rem;
    display: flex;
    justify-content: center;
}

                /*Right section*/
.bottom-right {
    /*padding: 1em;*/
}

.bottom-ul {
    list-style-type: none;
    padding: 0 2em;
    width: fit-content;
}

.bottom-link {
    padding: .2em 0;
    width: fit-content;
}

.bottom-link-modifier {
    color: rgba(134, 152, 182, 1);
}

.bottom-center {
    width: 33.33%;
}
                /*Media Quarry*/

@media only screen and (min-width: 576px) {
    .bottom-container {
        width: 576px;
    }
}

@media only screen and (max-width: 768px) {

    .bottom-container {
        width: 768px;
        display: block;
    }

    .bottom-left {
        margin: 0 auto;
        width: 90%;
    }

    .bottom-middle {
        margin: 0 auto;
        width: 90%;
    }

    .bottom-scroll {
        padding: .5em;
        margin: 3em 1em;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
    }

    .bottom-link {

        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .bottom-container {
        width: 992px;

    }
}

@media only screen and (min-width: 1200px) {
    .bottom-container {
        width: 1200px;
    }
}

@media only screen and (min-width: 1600px) {

    .bottom-container {
        width: 1600px;
    }
}

