
footer {
    display: flex;
    justify-content: space-evenly;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(23, 29, 38, 1);
}

.footer-left {
    color: rgba(134, 152, 182, 1);
    font-size: 1rem;
    padding-top: 1em;
    width: 33%;
}

.footer-middle {
    margin-top: auto;
    font-size: 1rem;
    color: rgba(134, 152, 182, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.scroll-up {
    padding: 1em;
    margin: 3vh;
    text-transform: uppercase;
    text-decoration: none;
}
.scroll-up-text {
    text-decoration: none;
}

.footer-ul {
    list-style-type: none;  
    font-size: 1rem;
    padding: 1em;
}

.footer-link {
    text-decoration: none;
    color: rgba(134, 152, 182, 1);
    display: flex;
    padding-top: .5em;
}




