header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    width: 50%;
    margin: 1em;
}

.presentation {
    padding: 1rem;
    width: 70%;
    margin-left: 4em;
    margin-top: 2em;
}

