header {
    display: flex;
    justify-content: space-between;
}
.presentation {
    padding: 1rem;
    width: 70%;
    margin-left: 4em;
    margin-top: 2em;
}

#logIn {
    padding: 1em;
    margin: .5em;
}