* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
header {
    height: auto;
    font-size: 1.5rem;
    padding: 1em;
}
body {
    background-color: #f2f2f2;
}

.container-log-in {
    display: block;
    justify-content: center;
    background-color: white;
    width: 50%;
    border-radius: 1em;
    text-align: center;
}

.testing {
    display: flex;
    justify-content: center;
}