
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
    position: relative;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bkg-home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    filter: blur(3px);
}

main {
    display: flex;
    flex-direction: column;
    padding: 5em;
    justify-content: space-around;
}

.travel-title {
    padding-bottom: 1rem;
}

.travel-safe {
    padding-top: 6rem;
}

.sub-title {
    padding: 1rem;
}

.list {
    padding-bottom: 6px;
}

.travel-ul {
    margin: 20px;
}

.container-travel {
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
}