@import "general.css";
@import "nav-bar.css";
@import "footer.css";

/*
                General
*/
body {
    /*background: linear-gradient(90deg, #CCFFFF, #FFCCCC);*/
    background-color: #f2f2f2;
    position: relative;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bkg-home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    filter: blur(2px);
}
/*
                Header
*/
.head-container {
    display: flex;
    flex-direction: column;
}

.head-title {
    font-size: 3rem;
    font-weight: 600;
    /*background-image: conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);*/
    /*color: transparent;*/
    /*background-clip: text;*/
    -webkit-background-clip: text;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.head-title-2 {
    text-align: center;
}

.head-para {
    text-indent: 3em;
    text-align: right;
    letter-spacing: 2px;
    font-weight: bold;
}

/*!*
                <--Main-->
*/
/*.ctn {*/
/*    width: 100%;*/
/*}*/

/*.ctn-container {*/
/*    width: 90%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: auto;*/
/*    height: 100vh;*/
/*}*/
/*
                Search Recently
*/
.test {
    /*background-color: grey;*/
}

.carousel-icon-custom {
    background-color: black;        /*For Testing*/
}

/*
                Travel
*/
.travel {
    background-color: white;
    width: 100%;
    display: flex;
    margin: auto;
}

.travel-custom {
    margin: auto;
}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 768px) {     /*important*/
    .information {
        flex-direction: column;
        align-items: center;
    }

    .accordion-custom {
        width: 90%;
    }
}

@media only screen and (min-width: 769px) {
    .accordion-custom {
        width: 70%;
        padding-right: 1em;
    }

}

/*@media only screen and (min-width: 992px) {*/
/*    .ctn-container {*/
/*        !*width: 992px;       Testing*!*/
/*    }*/
/*}*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*.search-box-custom {*/
    /*    width: 60%;*/
    /*}*/
}

@media only screen and (min-width: 1200px) {        /*important*/
    /*.ctn-container {*/
    /*    width: 1200px;*/
    /*}*/
}

@media only screen and (min-width: 1600px) {
    /*.ctn-container {*/
    /*    width: 1600px;*/
    /*}*/
}