                /*General*/
.navigation {
    background-color: hsla(163, 22%, 51%, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.navigation__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    /*background-color: white;  ---testing*/
    position: relative;         /*For the header positioning*/
}

                /*The Icons*/
.navigation__logo {
    width: 3em;
    height: 3em;
    justify-content: flex-start;
    padding: .5em;
}

.navigation__menu {
    width: 3em;
    height: 3em;
    cursor: pointer;
    display: none;
}

.navigation__close {
    width: 3em;
    height: 3em;
    cursor: pointer;
    display: none;
}

                /*Navigation bar*/
.navigation__ul {
    list-style-type: none;
    display: flex;
    margin: auto 0;
}

.navigation__link {
    font-size: 1.2rem;
    color: black;
    padding: .75em .5em;
}

.navigation__link:hover {
    background: rgba(231, 231, 231, 0.6);
    border-radius: 5px;
}

.navigation__button {
    padding: .2em 1em;
    border-radius: 10px;
    margin: 0 .5em;
}

.navigation__log-in {
    color: black;
    font-size: 1rem;
    padding: .5em;
}