
.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: .75em 0.5em;
    display: block;
    /*width: 100%;*/
}

.nav-ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
    justify-content: flex-end;
}

.nav-link:hover {
    background: rgb(235, 235, 235);
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.close {
    float: right;
    margin: 2em;
    width: 2.5em;
}

.menu, .close {
    width: 3em;
    margin-top: -.6em;
    cursor: pointer;
}

.open-nav {
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
}

@media only screen and (min-width: 600px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {
    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }

    .close {
        display: none;
    }

    .nav-ul {
        display: flex;
        margin: 0;
    }

    .nav-link {
        color: black;
        padding: .5em 1.5em;
        font-size: 1rem;
        text-align: left;
    }

    .nav-link:hover {
        background: none;
        text-decoration: underline;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        width: 100%;
        margin: 0 auto;
    }
}